.profile__info {
  grid-column-gap: 18px;
  grid-row-gap: 16px;
  display: grid;
  grid-template-columns: 294px 1fr;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  max-width: 336px;
}

@media screen and (max-width: 720px) {
  .profile__info {
    margin-right: 0;
    margin-bottom: 36px;
    text-align: center;
    max-width: 100%;
  }
}
