.popup__input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 13px 0;
  align-self: center;
  width: 100%;
}

.popup__input::placeholder {
  color: #000000;
}

.popup__input:first-of-type {
  margin-bottom: 30px;
}

@media screen and (max-width: 850px) {
  .popup__input {
    max-width: 238px;
  }
}
